body{
    margin: 0px;}
/* }no se donde ponerlo pero es esto lo que hay que cambiar */

div{
    background-color: #b1a7e8;
}
#logoAp{
    width: 150px;
}

app-redes-sociales{
    float:right;
    margin-top: 25px;
}










































